!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Binary
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}/
    %link{:href => "../css/reveal.css", :rel => "stylesheet"}/
    %link#theme{:href => "../css/theme/beige.css", :rel => "stylesheet"}/
    / Code syntax highlighting
    %link{:href => "../lib/css/zenburn.css", :rel => "stylesheet"}/
    / Printing and PDF exports
    :javascript
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../css/print/pdf.css' : '../css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          %section
            %h1 Binary
          %section
            %h1
              Outline
            %ol
              %li 檔案分析
              %li IDA_Pro
        %section
          %section
            %h1 檔案分析
          %section
            %pre
              %code{:style => "font-size:150%;"}
                = preserve do
                  :escaped
                    file $file
          %section
            %h1 DEMO
          %section
            %h1 解壓縮！
          %section
            %h1 Resource Hacker
        %section
          %section
            %h1 IDA_Pro
          %section
            %h1 UPX Shell
            %p UPX 是個用於壓縮及解壓縮可執行檔案的工具<br>在不影響程式原來的執行能力下<br>最高可達到 50~70% 的壓縮率
          %section
            %h1 PEiD
          %section
            %h1 deUPX
            %pre
              %code{:style => "font-size:150%;"}
                = preserve do
                  :escaped
                    upx -d file
        %section
          %section
            %h1 Q & A
          %section
            %h1 END
            %p Thank you for listening.
    %script{:src => "../lib/js/head.min.js"}
    %script{:src => "../js/reveal.js"}
    :javascript
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
        progress: true,
        history: true,
        slideNumber: true,
        center: true,
        keyboard: true,
        overview: true,
        // The "normal" size of the presentation, aspect ratio will be preserved
        // when the presentation is scaled to fit different resolutions. Can be
        // specified using percentage units.
        width: 1024,
        height: 768,
        // Bounds for smallest/largest possible scale to apply to content
        minScale: 0.1,
        maxScale: 1.0,

      	transition: 'convex', // none/fade/slide/convex/concave/zoom

      	// Optional reveal.js plugins
      	dependencies: [
      		{ src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: '../plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: '../plugin/zoom-js/zoom.js', async: true },
      		{ src: '../plugin/notes/notes.js', async: true }
      	]
      });
